/* NAV */
/* nav text */
nav li a {
  text-transform: uppercase;
}

/* nav icon mobile */
#menu_button {
  font-size: 135%;
}

#line_under_nav {
  min-height: 1.5vh;
  padding: 0;
  background-image: linear-gradient(to right, #f50057, #f44336, #ff5722);
  margin: 0;
}

/* MAIN */
/* index content */
#index {
  padding-top: 5%;
}

.row #index {
  min-height: 85vh;
}

/* index profile picture */
#profile_picture {
  width: 90%;
  height: 90%;
}

#col_ppicture {
  padding-left: 5%;
}

/* index name and text */
#col_name {
  padding: 0;
}

.valign-wrapper {
  position: absolute;
  width: 100%;
  height: 80%;
}

/* for the sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  margin-top: 0;
  padding-top: 0;
  flex: 1 0 auto;
}

/* FOOTER */
/* colour */
footer {
  background-image: linear-gradient(to right, #f50057, #f44336, #ff5722);
}

footer h5 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 100%;
  height: .25vh;
  padding-top: 2%
}

/* footer icons */
#icon_social_footer {
  color: white;
  font-size: 100%;
  padding-left: 2%;
}

#icon_social_footer:hover {
  color: #263238;
}

/* RESPONSIVE CORRECTIONS */
/* navbar */

/* main */
/* profile picture */
#col_ppicture_mobile {
  width: 65%;
  height: 65%;
  margin-top: 8%;
}

#col_name_mobile {
  padding: 0;
}

@media only screen and (max-width : 600px) {
  footer h5 {
    padding-top: 5%;
  }

  #icon_social_footer {
  color: white;
  font-size: 150%;
  padding-top: 5%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  }
}