html {
	font-family: 'Fira Sans Condensed', sans-serif;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

footer.page-footer {
	margin-top: 0;
}

div.navbar-fixed li a {
	text-transform: uppercase;
	font-size: 19px;
}

div.first nav {
	background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,.5), rgba(0,0,0,.2));
}

div.second nav {
	background-image: linear-gradient(#b71c1c, #b71c1c);
}

img.logo {
	height: 50%;
	margin-top: 1.5%;
	margin-right: 1%;
}

.parallax-container {
	height: 525px;
}

div.parallax-container img {
	height: 175%;
}

h2.header {
	margin-bottom: 0;
	margin-top: 1%;
}

div.section.white h5 mark {
	background-color: black;
	color: white;
	padding-right: .5%;
	padding-left: .5%;
}

i.business {
	margin-top: 25%;
	margin-left: 20%;
	font-size: 275%;
}

img.profile-picture {
	height: 80%;
	width: 80%;
	margin-top: 40%;
	margin-left: 10%;
}

div.carousel {
	margin-top: 0;
}

mark {
	background-color: white;
	color: #263238;
	padding-right: .3%;
	padding-left: .3%;
}

p {
	font-size: 115%;
}

div.row.sobre-first {
	margin-top: 3.5%;
}

div.row.sobre-second {
	margin-top: 2%;
}

div.row.sobre-third p {
	margin-top: 3s%;
}

div#atuacao img {
	height: 25%;
	width: 25%;
	margin-left: 38%;
}

div#atuacao h5 {
	font-size: 135%;
	text-transform: capitalize;
}

div#atuacao mark {
	background-color: #263238;
	color: white;
	padding-right: 1.5%;
	padding-left: 1.5%;
}

div#atuacao p {
	font-size: 105%;
}

div#atuacao div.col {
	margin-top: 2%;
}

div#atuacao p mark {
	color: #263238;
	background-color: white;
	padding-right: 1.5%;
	padding-left: 1.5%;
}

.parallax-container.secondary {
	height: 400px;
	margin-top: 150%;
}

i.telephone {
	margin-top: 10%;
	margin-left: -220%;
	font-size: 275%;
}

i.mail {
	margin-top: 15%;
	margin-left: 20%;
	font-size: 275%;
}

img.logo:hover {
	cursor: pointer;
}

ul#languageDropdown {
	min-width: 155px;
}

ul#languageDropdown img {
	height: 15%;
	width: 15%;
	margin-right: 5%;
}

ul#languageDropdown a {
	font-size: 110%;
}

a.btn-floating {
	margin-top: 250px;
}

a.btn-floating.btn-small {
	margin-top: 30%;
}

a#prev {
	transform: rotate(180deg);
}

@media only screen and (max-width: 600px){
	.parallax-container {
		height: 450px;
	}

	div.parallax-container img {
		height: 75%;
	}

	div.first nav {
		background-image: linear-gradient(to right, rgba(0,0,0,.3), rgba(0,0,0,.75), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
	}

	img.sideNav { 
		height: 110%;
		width: 110%;
		margin-top: 105%;
		margin-left: 170%;
	}

	ul#nav-mobile h2 {
		font-size: 180%;
		margin-left: 15%;
	}

	ul#nav-mobile h2:hover {
		cursor: pointer;
	}

	ul#nav-mobile div.row {
		margin-top: 10%;
	}

	ul#nav-mobile .sobreClick {
		margin-top: 5%;
	}

	ul#nav-mobile a {
		text-transform: uppercase;
		font-size: 115%;
	}

	div.second img.logo {
		margin-top: 4%;
		margin-left: 1.5%;
	}

	div.second a.brand-logo {
		margin-left: 7%;
	}

	div.row.container {
		margin-top: 5%;
	}

	i.business {
		margin-top: 0;
	}

	img.profile-picture {
		margin-top: 0;
		height: 40%;
		width: 40%;
		margin-left: 28%;
	}

	div.first-section h2 {
		font-size: 350%;
	}

	div.first-section h5 {
		font-size: 150%;
	}

	div.parallax-container.secondary {
		height: 300px;
	}

	div.contacts p {
		margin-left: 4.5%;
		font-size: 120%;
	}

	div#contato i {
		font-size: 175%;
	}

	div#contato i.mail {
		margin-top: 200%;
	}

	div#contato i.telephone {
		margin-top: 200%;
		margin-left: -1200%;
	}
}

@media only screen and (max-height: 600px){
	.parallax-container {
		height: 380px;
	}

	div.first-section h5 {
		font-size: 125%;
	}

	div.second img.logo {
		margin-top: 4%;
		margin-left: 0%;
	}

	div.second a.brand-logo {
		margin-left: 10%;
	}
}
